#songs-button{
    display: flex;
    justify-content: space-evenly;
}
  
.song-button{
    min-width: auto;
    width: auto;
}


#playlist-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20vh;
  }